{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Регистрация{% endblock %}
{% block header_page %}Регистрация{% endblock %}
{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'),
        'attr': {'class': 'fos_user_registration_register '}}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}
    {{ form_widget(form) }}

    <div>
        <input class="btn btn-lg btn-primary btn-block btn-signin"
               type="submit" id="_submit" name="_submit" value="{{ 'registration.submit'|trans }}"/>
    </div>
    {{ form_end(form) }}

{% endblock fos_user_content %}