{% extends 'framework.html.twig' %}

{% block container %}
    <div class="container">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        <div>
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
