{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="username" required="required"/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}"/>
        </div>
    </form>
{% endblock fos_user_content %}