{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Войти{% endblock %}

{% block header_page %}Войти{% endblock %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <span id="reauth-email" class="reauth-email"></span>
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" autofocus="" class="form-control"
               placeholder="Username" value="{{ last_username }}" required="required"/>
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" class="form-control" placeholder="Password" id="password" name="_password"
               required="required"/>
        </br>
        <input class="btn btn-lg btn-primary btn-block"
               type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
    </form>
    <a href="{{ path('fos_user_resetting_request') }}" class="forgot-password btn btn-link">Забыли пароль?</a>
{% endblock fos_user_content %}
